RewriteEngine on

# set custome 404 page contents
ErrorDocument 404 'Not found'

# handle open requests
RewriteCond %{HTTP_HOST} ^[a-tv-z]+u[a-tv-z]+\..*$
RewriteRule ^[a-zA-Z0-9]+\.gif$ index.php?action=open [END]

# handle click requests
RewriteCond %{HTTP_HOST} ^[a-tv-z]+u[a-tv-z]+u[a-tv-z]+\..*$
RewriteRule ^$ index.php?action=click [END]

# disable all not matching requests
RewriteRule ^.*$ - [R=404,L]